
.speech {
    color: black;
    size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.direction {
    color: black;
    size: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: pink;
}
direction.hover{
    background-color: antiquewhite;
}