
.speech {
    color: black;
    size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.direction {
    color: black;
    size: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: pink;
}
.direction:hover{
    background-color: antiquewhite;
}
.MRS {
    color: blue;
}
.MISS {
    color: red;
}
table, th, td {
     border: 1px solid;
    border-collapse: collapse;
    text-align: center;
   
      

    color: yellowgreen;font-weight: bold;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
    }
  tr:nth-child(even) {
    background-color: yellow;
  }
  .MRS:hover{
    text-shadow: 3px 3px #7666c9;
}
.MISS:hover{
  text-shadow: 3px 3px #eb1f41;
}


ul.navbar-horizontal{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: aqua;
  display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 4
}

  